:root{
    --mainColor:#232020;
    --gris:#B0A0A0;
}
*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    color:black;
    background-color: #232020;
    font-size: 1.15em;
}



.container_principal{
    background: white;
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
    
}
/* Container titre */
.container_titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #704444;
    color: white;
    padding: 10px;
    
}

h1{
    text-align: center;
    font-size: 3em;
    margin-bottom: 8px;
    margin: 0;
    
}

.trait{
    width: 100px;
    height: 3px;
    background-color: #704444;
    text-align: center;
}

/* Container regle du jeu */
.container_regle{
    padding: 10px;
}
h2{
    font-size: 2em;
    margin-bottom: 20px;
    
}

/*  Jeu */

/* Formulaire joueur */
.containerFormulaire{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerFormulaire > p{
    font-size: 1.5em;
    font-weight: 600;
}
#formulaireNoms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulaireNoms > input[type=text]{
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: 5px 2px 2px black;
}

#formulaireNoms > input[type=text]::placeholder{
    text-align: center;
}

#formulaireNoms > input[type=submit]{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #704444;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

/* Morpion */
.container_jeu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
table{
    border-collapse: collapse;
    margin: 16px;
}
tr,td{
    border: 3px solid #704444;
    height: 120px;
    width: 120px;
}


td{
    text-align: center;
    /* height: 120px;
    width: 60px; */
}

.instructions{
    background-color: #704444;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-size: 1.1em;
}

strong{
    font-weight: bold;
    font-size: 1.3em;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
    background-color: #704444;
    color: white;
    text-align: center;
}

.modal,.error{
    position: absolute;
    background-color: aqua;
    height: 300px;
    width: 30%;
    top:-300px;
    left: 35%;
}

/* .error{
    position: absolute;
    background-color: red;
    color: white;
    height: 300px;
    width: 30%;
    top:-300px;
    left: -35%;
} */

/*  MEDIA */

@media screen and (max-width:1024px){
    .container_principal{
        margin-left: 0;
        margin-right: 0;
        height: 100vh;
    }

    footer{
        margin-left: 0;
        margin-right: 0;
    }

    .containerFormulaire{
        margin-bottom: 16px;
    }
}



@media screen and (max-width: 450px) {
    html,body{
        background-color: white;
    }
    tr,td{
        border: 3px solid #704444;
        height: 80px;
        width: 80px;
    }

    .container_principal{
        height: auto;
    }
}